.Playground {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #f7f7f7;
    padding: 2vw 3vw;
    width: 100%;
}

.Playground .Left {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.Playground .Left h1 {
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rebeccapurple;
}

.Playground .Left p {
    font-size: 1.3vw;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.Playground .Left h2 {
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #555;
}

.Playground .Left button {
    height: 3vw;
    width: 10vw;
    padding: .5vw 2vw;
    border: 0.07vw solid rebeccapurple;
    border-radius: 1.5vw;
    background-color: white;
    color: rebeccapurple;
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    transition: all .3s;

}

.Playground .Left button:hover {
    background-color: rebeccapurple;
    color: white;
}