.OrganizationCreditsItem {
    grid-column: span 2;
    border: 1px solid rgba(102, 51, 153, 0.373);
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 1.5vw;
    background-image: linear-gradient(#66339906, #66339903);
    transition: all 1s;
}

.OrganizationCreditsItem:hover {
    border: 1px solid #663399;
    background-image: linear-gradient(#66339906, #66339909);
    box-shadow: #66339933 5px 10px 15px;
}

.OrganizationCreditsItem .OrganizationLogo {
    flex: 0 0 4vw;
    /* 固定宽度，不伸缩 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.OrganizationCreditsItem .OrganizationLogo a {
    color: #663399;
    font-size: 4vw;
    height: 5vw;
}

.OrganizationCreditsItem .OrganizationInfo {
    flex: 0 1 auto;
    /* 不放大，可缩小，自动宽度 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.OrganizationCreditsItem .OrganizationInfo span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vw;
    color: #333;
    padding-top: 1.5vw;
    transition: .5s;
}

.OrganizationCreditsItem:hover .OrganizationInfo span {
    padding-top: 0;
    color: black;
}

.OrganizationCreditsItem .OrganizationLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5vw;
    width: 0;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

.OrganizationCreditsItem:hover .OrganizationLinks {
    width: 100%;
}

.OrganizationCreditsItem .OrganizationLinks a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rebeccapurple;
    font-size: 1.7vw;
    height: 2vw;
    transition: all .4s;
}

.OrganizationCreditsItem .OrganizationLinks a:hover {
    color: black;
}