.Footer {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
}

.Footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
}

.Footer .FooterBottom {
    display: flex;
    flex-direction: row;
    width: calc(100% - 6vw);
    padding: 3vw;
}

.Footer>p span {
    font-weight: 500;
    font-size: 3vw;
    color: #1a0b30;
    margin-left: .3vw;
}