.TechStack {
    margin: 1vw 3vw;
    display: flex;
    flex-direction: column;
}

.TechStack h1 {
    margin-top: 2vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 300;
    color: rebeccapurple;
}

.TechStack .WebSite {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1vw;
    margin-top: 1vw;
}

.TechStack .WebSite h2 {
    color: rebeccapurple;
}

.TechStack .WebSite span {
    margin-top: 2vw;
    margin-right: 1vw;
    font-size: 1.5vw;
    font-weight: 300;
    color: #333;
    transition: all .3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.TechStack .WebSite span:hover {
    color: rebeccapurple;
}