.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
}

.NavLeft,
.NavRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NavRight {
    margin-right: 3vw;
    gap: 2.5vw;
}

.NavRight a {
    text-decoration: none;
    color: #663399;
}

.NavRight .LogIn,
.NavRight .LoggedIn,
.NavRight .Website p {
    display: inline;
    font-family: "Poppins", serif;
    font-size: 1.5vw;
    transition: all 0.2s;
}

.NavRight .LogIn:hover,
.NavRight .LoggedIn:hover {
    color: #2b124d;
}

.NavRight .Website {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NavRight .Website #ChevronDown {
    transition: all .5s;
}

.NavRight .Website .WebsiteListContainer {
    position: relative;
}

.NavRight .Website .WebsiteList {
    position: absolute;
    width: 20vw;
    top: 1.3vw;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    display: flex;
    flex-direction: column;
}

.NavRight .Website .WebsiteChevronDownWrapper {
    font-size: 1vw;
}

.NavRight .Website:hover #ChevronDown {
    transform: rotate(180deg);
}

.NavRight .Website:hover .WebsiteList {
    height: 20vw;
}

.NavRight .Website .WebsiteList a {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;
    margin-top: .5vw;
    transition: color 0.3s;
}

.NavRight .Website .WebsiteList a:hover {
    color: rebeccapurple;
}

.NavRight .LoggedIn {
    color: rebeccapurple;
}

.NavLeft .NavLeftTitle {
    margin-left: 3vw;
    margin-right: 5vw;
    font-size: 2vw;
    line-height: 1.5vw;
    font-family: 'JetBrains Mono', serif;
    color: rebeccapurple;
}

.NavRight>a {
    font-size: 2vw;
}

.NavIcon {
    width: 2vw;
    height: 2vw;
    font-size: 2vw;
    transition: all 2s cubic-bezier(0.5, 0.01, 0.9, .1);
}

.NavIcon:hover {
    transform: rotate(-1440deg);
}