.ErrorWarningList {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
    overflow-y: scroll;
    scrollbar-width: none;
    /* 隐藏滚动条 (Firefox) */

    /* WebKit (Chrome, Safari, Edge Chromium) */
    &::-webkit-scrollbar {
        display: none;
        /* 隐藏滚动条 (WebKit) */
        /* 或者可以设置 width 和 height 为 0 */
        /* width: 0; */
        /* height: 0; */
    }

    /* IE 10+/ Edge Legacy (基本淘汰，但可以加上以防万一) */
    -ms-overflow-style: none;
}

.ErrorWarningList .ErrorWarning {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.ErrorWarningList .ErrorWarning .ErrorWarningLeft {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: transparent;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    padding-top: 0.3vw;
}

.ErrorWarningList .ErrorWarning:hover .ErrorWarningLeft {
    color: #ccc;
}

.ErrorWarningList .ErrorWarning .ErrorWarningLeft.AIed {
    color: white;
}

.ErrorWarningList .ErrorWarning .ErrorWarningRight {
    display: flex;
    flex-direction: column;

}

.ErrorWarningList .ErrorWarning .ErrorWarningRight .ErrorMessage {
    color: white;
    font-family: 'JetBrains Mono';
    font-size: 1vw;
    padding-bottom: 0.2vw;
    margin-bottom: 0.3vw;
    white-space: pre-wrap;
}

.ErrorWarningList .ErrorWarning .ErrorWarningRight.AIed .ErrorMessage {
    border-bottom: 1px solid #aaa;
}

.ErrorWarningList .ErrorWarning .ErrorWarningRight .AIMessageHead {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ErrorWarningList .ErrorWarning .ErrorWarningRight .AIMessageHead>span {
    color: #ccc;
    font-family: 'HarmonyOS Sans';
    font-size: .7vw;
    width: 5.5vw;
}

.ErrorWarningList .ErrorWarning .ErrorWarningRight .AIMessageHead .ModelSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

.ErrorWarningList .ErrorWarning .ErrorWarningRight .AIMessageHead .ModelSelector>p {
    font-size: .7vw;
    font-family: 'Poppins';
    color: #ddd;
    white-space: nowrap;
    font-weight: 500;
}

.ErrorWarningList .ErrorWarning .ErrorWarningRight .AIMessageHead .ModelSelector .ModelList {
    width: 0;
    overflow: hidden;
    height: 1.3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s ease-in-out;
    margin-left: 0.2vw;
}

.ErrorWarningList .ErrorWarning .ErrorWarningRight .AIMessageHead .ModelSelector:hover .ModelList {
    width: 20vw;
}

.ErrorWarningList .ErrorWarning .ErrorWarningRight .AIMessageHead .ModelSelector .ModelList .ModelItem {
    padding: 0 .3vw;
    height: 1.5vw;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: .7vw;
    color: #bbb;
    white-space: nowrap;
}

.ErrorWarningList .ErrorWarning .ErrorWarningRight .AIMessageHead .ModelSelector .ModelList .ModelItem:hover {
    color: #ddd;
}

.ErrorWarningList .ErrorWarning .ErrorWarningRight .AIMessage {
    color: white;
    font-family: 'HarmonyOS Sans';
    font-size: .9vw;
}