.SearchPage {
    margin: 1vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.SearchPage p {
    font-size: 1vw;
}

.SearchPage .SearchTop {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

.SearchPage .SearchTop h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 300;
    color: black;
}

.SearchPage .SearchTop h1>span {
    color: rebeccapurple;
    font-weight: 700;
}

.SearchPage .SearchTop .SearchComment {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1vw;
    margin-left: 3vw;
}

.SearchPage .SearchTop .SearchComment p {
    color: #666;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
}

.SearchPage .SearchResult {
    display: flex;
    flex-direction: row;
}

.SearchPage .SearchResult .ResultMCT,
.SearchPage .SearchResult .ResultCppRef,
.SearchPage .SearchResult .ResultGoogle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 34vw;
}