.StandardSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

.StandardCurrent {
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    font-size: 1.2vw;
}

.StandardCurrent>span {
    font-family: 'JetBrains Mono';
    font-weight: 600;
}

.StandardFloater {
    height: 1.8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    color: #ddd;
}

.StandardLower,
.StandardUpper {
    font-size: .9vw;
    height: 0.9vw;
    width: 0.9vw;
}

.StandardLower.Disabled,
.StandardUpper.Disabled {
    color: #999 !important;
    cursor: not-allowed;
}

.StandardLower:not(.Disabled):hover,
.StandardUpper:not(.Disabled):hover {
    color: white;
}