.CodeEditor {
    position: fixed;
    right: calc(2.5vw + 2vw);
    width: 45vw;
    background: white;
    border: 0.05vw solid #ddd;
    border-radius: 0.2vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.1vw 0.4vw rgba(0, 0, 0, 0.1);
}

.EditorToolbar {
    display: flex;
    justify-content: space-between;
    padding: 0.1vw 1vw;
    border-bottom: 0.05vw solid #ddd;
    position: relative;
}

.EditorSelector,
.CompileArgs {
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.EditorSelector {
    padding: 0.5vw;
    border: none;
    background: transparent;
    width: 28%;
    font-size: 1vw;
}

.CompileArgs {
    width: 68%;
    padding: 0.5vw;
    border: none;
    background: transparent;
    font-size: 1vw;
}

.EditorContent {
    flex: 1;
    min-height: 30vh;
    overflow: hidden;
    padding-top: 1vw;
}