.MarkdownRenderer {
  font-family: 'Poppins', sans-serif;
}

.CodeBlockWrapper {
  background-color: #f8f8f8;
  border-radius: 0.3vw;
  overflow-x: auto;
}

.CodeBlock {
  display: flex;
  flex-direction: column;
  font-family: 'JetBrains Mono', monospace;
  padding: .5vw;
}

.CodeLine {
  display: flex;
  align-items: center;
  line-height: 1.5;
}

.LineNumber {
  color: #663399;
  text-align: right;
  padding-right: 1vw;
  margin-right: 1vw;
  border-right: 0.05vw solid #ddd;
  min-width: 1.5vw;
  user-select: none;
  font-size: 0.9vw;
}

.LineContent {
  flex: 1;
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.9vw;
}

.InlineCode {
  background-color: #f8f8f8;
  padding: 0.1vw 0.3vw;
  border-radius: 0.2vw;
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.9vw;
  border: 0.05vw solid #e0e0e0;
  display: inline;
  white-space: nowrap;
}

.LineNumbers {
  display: flex;
  flex-direction: column;
  padding-right: 1vw;
  margin-right: 1vw;
  border-right: 0.05vw solid #ddd;
  user-select: none;
}

.hljs {
  flex: 1;
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
}