.Login {
    margin: 1vw 3vw;
    display: flex;
    flex-direction: column;
}

.LoginMain {
    width: 30vw;
    margin-top: 5vh;
    padding: 5vh 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.LoginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginMain h1 {
    margin-top: 0.5vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 900;
    color: rebeccapurple;
    text-align: center;
}

.LoginMain form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.LoginMain label {
    display: block;
}

.LoginMain label h2 {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.4vw;
}

.LoginMain input[type="text"],
.LoginMain input[type="password"] {
    width: 23vw;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'JetBrains Mono', monospace;
}

.LoginMain button {
    width: 6vw;
    height: 3vw;
    border: none;
    border-radius: .3vw;
    background-color: rebeccapurple;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
    transition: all 0.3s;
}

.LoginMain button:hover {
    background-color: #2b124d;
}

.LoginMain .Remember {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: .5vw;
}

.LoginMain .Remember p {
    font-family: 'JetBrains Mono', monospace;
    font-size: .95vw;
    color: rebeccapurple;
    line-height: 2vw;
}

.LoginMain a {
    color: #472073;
    font-size: .9vw;
    text-decoration: none;
    transition: all 0.3s;
    font-family: 'JetBrains Mono', monospace;
}

.LoginMain a:hover {
    color: #2b124d;
}

.LoginMain a span {
    color: #7e51a6;
    font-weight: 900;
    font-size: 1vw;
    transition: all 0.3s;
}

.LoginMain a:hover span {
    color: #472073;
}