.Chapter {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    top: 0;
}

.Chapter .Chapter-Top {
    display: flex;
    flex-direction: column;
}

.Chapter .Chapter-Main {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 2vw;
    top: 0;
}

.Chapter .Chapter-Main .Chapter-Left {
    position: fixed;
    top: 12vw;
    width: 20vw;
}

.Chapter .Chapter-Main .Chapter-Right {
    display: flex;
    flex-direction: column;
    margin-left: 16vw;
    border-left: 1px solid #bbb;
    padding-left: 2vw;
    width: 76vw;
}

.Chapter .Chapter-Right .Current-Position, .Chapter .Chapter-Right .Latest-Update {
    margin-bottom: .8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    font-size: 1vw;
}

.Chapter h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    color: rebeccapurple;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1vw;
    margin-bottom: 1.5vw;
}

.Chapter h1>span {
    font-size: 1.5vw;
    color: #444;
    display: flex;
    align-items: center;
    gap: .5vw;
}

.Chapter p {
    font-size: 1.2vw;
    margin: .8vw 0;
    align-items: center;
}

.Chapter p>span {
    display: inline-block;
    font-family: 'JetBrains Mono', monospace !important;
    background-color: #f0f0f0;
    color: rgb(88, 0, 175);
    font-size: 1vw;
    padding: .05vw .4vw;
    margin-bottom: 0.1vw;
    border-radius: .6vw;
}

.Chapter .Chapter-Left>p {
    color: #666;
    transition: .5s;
    font-size: 1.1vw;
    cursor: pointer;
}

.Chapter .Chapter-Left>p:hover {
    color: rebeccapurple;
}

.Chapter .Chapter-Left>h3 {
    margin-top: 1.5vw;
    color: rebeccapurple;
    margin-bottom: 1vw;
    font-size: 1.2vw;
}

.Chapter h2 {
    font-size: 1.6vw;
    margin-top: 1.8vw;
    margin-bottom: .8vw;
    font-weight: 600;
}

.Chapter h6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3vw;
    font-size: 1vw;
    color: #555555;
    font-weight: 300;
}

.Chapter .Chapter-Bottom {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Chapter .Chapter-Bottom .Chapter-Bottom-Left {
    flex-direction: row;
    justify-content: left;
}

.Chapter .Chapter-Bottom .Chapter-Bottom-Right {
    flex-direction: row;
    justify-content: right;
}

.Chapter .Chapter-Bottom a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw 2vw;
    border-radius: 1.75vw;
    height: 1.5vw;
    font-size: 1.6vw;
    font-family: "Poppins", serif;
    font-weight: 400;
    gap: 0.5vw;
    transition: all 0.3s;
}

.Chapter .Chapter-Bottom .Chapter-Bottom-Left a {
    background: white;
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
}

.Chapter .Chapter-Bottom .Chapter-Bottom-Left a:hover {
    background: rebeccapurple;
    color: white;
}

.Chapter .Chapter-Bottom .Chapter-Bottom-Right a {
    background: rebeccapurple;
    color: white;
    border: 1px solid rebeccapurple;
}

.Chapter .Chapter-Bottom .Chapter-Bottom-Right a:hover {
    background: white;
    color: rebeccapurple;
    border: rebeccapurple 1px solid;
}