.Tutorial {
    margin: 1vw 3vw;
    display: flex;
    flex-direction: column;
}

.Tutorial .Tutorial-Title {
    margin-top: 3vw;
    padding-bottom: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #808080;
}

.Tutorial .Tutorial-Title h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5vw;
    font-weight: 300;
    margin-bottom: 1vw;
    color: #808080;
}

.Tutorial .Tutorial-Title h1>span {
    margin-right: 2vw;
    font-size: 3.5vw;
    color: #555;
}

.Tutorial .Tutorial-Title h1>span>span {
    font-size: 4vw;
    color: rebeccapurple;
    font-weight: 600;
}

.Tutorial-Main {
    display: flex;
    flex-direction: row;
    margin-top: 3vw;
}

.Tutorial-Main .Tutorial-Main-Content {
    display: flex;
    flex-direction: column;
    width: 14vw;
    margin-top: 1vw;
    margin-left: 2vw;
    margin-right: 4vw;
    border-right: 1px solid #bbb;
}

.Tutorial-Main .Tutorial-Main-Content h3 {
    color: rebeccapurple;
    font-size: 1.5vw;
    margin-left: 1.45vw;
    margin-bottom: 1vw;
    transition: all 0.3s;
}

.Tutorial-Main .Tutorial-Main-Content a {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
    padding: .5vw;
    padding-left: 1.5vw;
    margin-right: 5vw;
    border-radius: 1.5vw;
    transition: all .5s;
    color: #333;
}

.Tutorial-Main .Tutorial-Main-Content a:hover {
    background-color: #66339922;
    transition: all 0;
    color: #6e36a7;
}

.Tutorial-Main .Tutorial-Main-Article {
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

.Tutorial-Main .Tutorial-Main-Article h1 {
    display: inline-block;
    width: 15vw;
    color: black;
    margin-bottom: 0.4vw;
    margin-top: 0.8vw;
    transition: all 0.3s;
    font-size: 2vw;
}

.Tutorial-Main .Tutorial-Main-Article h1:hover {
    color: #431b6a;
}

.Tutorial-Main .Tutorial-Main-Article p {
    color: #000;
    font-size: 1.2vw;
}

.Tutorial-Main .Tutorial-Main-Article .Tutorial-Main-Article-Inline-Para {
    display: inline;
}

.Tutorial-Main .Tutorial-Main-Article p>span {
    font-family: 'JetBrains Mono', monospace !important;
    background-color: #f0f0f0;
    color: rgb(88, 0, 175);
    font-size: 1vw;
    padding: .1vw .4vw;
    border-radius: .6vw;
}

.Tutorial-Main .Tutorial-Main-Article p>a {
    transition: all 0.3s;
    color: #663399;
}

.Tutorial-Main .Tutorial-Main-Article p>a:hover {
    color: #431b6a;
}