.Tutorial-Button-Bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

.Tutorial-Button-Bar div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw 2vw;
    border-radius: 1.75vw;
}

.Tutorial-Button-Bar #Repository-Button,
.Tutorial-Button-Bar #Playground-Button {
    background: white;
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
    height: 1.5vw;
    font-size: 1.6vw;
    font-family: "Poppins", serif;
    font-weight: 400;
    gap: 0.5vw;
    transition: all 0.3s;
}

.Tutorial-Button-Bar #Repository-Button:hover,
.Tutorial-Button-Bar #Playground-Button:hover {
    background: rebeccapurple;
    color: white;
}
