.App .AppContainer .AppContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App .AppContainer .AppContent h1 {
    font-family: 'SF';
    font-weight: 600;
    font-size: 8vw;
    color: white;
    padding-top: 7vw;
}

.App .AppContainer .AppContent h1 span {
    font-size: 10vw;
    line-height: 10vw;
    font-weight: 800;
}

.App .AppContainer .AppContent>p {
    font-family: 'HarmonyOS Sans';
    font-weight: 300;
    font-size: 1.7vw;
    color: #eee;
}

.AppContent .Cards {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin: 3vw 0;
}

.Tools {
    position: absolute;
    top: 1vw;
    left: 1vw;
}

.Account {
    position: absolute;
    top: 2vw;
    right: 3vw;
}

.Account p {
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.2vw;
    cursor: pointer;
}

.ToolBar {
    position: absolute;
    top: 2vw;
    left: 2vw;
    z-index: 1000;
    width: 12vw;
    height: 12vw;
}

.ToolBarMain {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
}

.ToolBarItems {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ToolBarItems a {
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2vw;
    opacity: 0;
    transform: translate(0.25vw, 0.25vw) scale(0);
    transition: all 0.3s ease;
    z-index: 1;
}

@property --conic-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0.1deg;
}

.ToolBarItems a::after {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: 50%;
    background: conic-gradient(var(--blue-02) var(--conic-angle), white var(--conic-angle));
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 1px), #fff calc(100% - 1px));
    mask: radial-gradient(farthest-side, transparent calc(100% - 1px), #fff calc(100% - 1px));
    transition: --conic-angle 2s ease;
}

.ToolBarItems a:hover {
    color: var(--blue-02);
    border-color: transparent;
}

.ToolBarItems a:hover::after {
    --conic-angle: 720deg;
}

.ToolBar:hover .ToolBarItems a {
    opacity: 1;
    transform: scale(1);
}

.ToolBar:hover .ToolBarItems a:nth-child(1) {
    transform: translate(6vw, 0);
    transition-delay: 0s;
}

.ToolBar:hover .ToolBarItems a:nth-child(2) {
    transform: translate(5.2vw, 3vw);
    transition-delay: 0.1s;
}

.ToolBar:hover .ToolBarItems a:nth-child(3) {
    transform: translate(3vw, 5.2vw);
    transition-delay: 0.2s;
}

.ToolBar:hover .ToolBarItems a:nth-child(4) {
    transform: translate(0, 6vw);
    transition-delay: 0.3s;
}