@font-face {
    font-family: 'Jetbrains Mono';
    src: url(/fonts/JetBrains/JetBrainsMono-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Jetbrains Mono';
    src: url(fonts/JetBrains/JetBrainsMono-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Jetbrains Mono';
    src: url(/fonts/JetBrains/JetBrainsMono-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Jetbrains Mono';
    src: url(/fonts/JetBrains/JetBrainsMono-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Jetbrains Mono';
    src: url(/fonts/JetBrains/JetBrainsMono-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Jetbrains Mono';
    src: url(/fonts/JetBrains/JetBrainsMono-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Jetbrains Mono';
    src: url(/fonts/JetBrains/JetBrainsMono-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Jetbrains Mono';
    src: url(/fonts/JetBrains/JetBrainsMono-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Verdana';
    src: url(/fonts/Verdana-1.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Geo';
    src: url(/fonts/Geo/Geogtq-Bd.otf);
    font-weight: 900;
}

@font-face {
    font-family: 'Geo';
    src: url(/fonts/Geo/Geogtq-Md.otf);
    font-weight: 400;
}