:root {
    --background-dark: #120D16;
    --yellow-01: #ffffc5;
    --yellow-02: #ffff7c;
    --green-01: #d6ffd6;
    --green-02: #aaffaa;
    --cyan-01: #cbffff;
    --cyan-02: #99ffff;
    --purple-01: white;
    --purple-02: rgb(253, 195, 255);
}