.NewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    padding: 0 auto;
}

.NewContainer .Login {
    margin: 10vh 0;
    width: 63vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.NewContainer .Login a {
    color: rebeccapurple;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s;
}

.NewContainer .Login a:hover {
    color: black;
}

.NewContainer .Card {
    width: 63vw;
    height: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NewContainer .Card .CardLeft .CardLeftTop h1 {
    font-family: 'Geo', serif;
    font-size: 8vw;
    font-weight: 400;
    margin-top: -12vw;
    color: black;
}

.NewContainer .Card .CardLeft .CardLeftTop h1 span {

    color: rgb(60, 27, 93);
}

.NewContainer .Card .CardLeft .CardLeftTop h1 span:nth-child(1) {
    font-size: 16vw;
    font-weight: 900;
    color: rebeccapurple;
}

.NewContainer .Card .CardLeftMiddle {
    position: relative;
    width: 18vw;
    height: 18vw;
    margin-bottom: 1vw;
}

.CLogo {
    width: 18vw;
    height: 18vw;
    position: absolute;
    box-sizing: border-box;
    border: 1.3vw solid rebeccapurple;
    border-top-color: #000;
    border-bottom-color: #000;
    border-radius: 50%;
    z-index: 0;
}

.CLogo .Hider {
    position: absolute;
    background-color: white;
    width: 6vw;
    height: 6vw;
    top: calc(50% - 3vw);
    right: -2.5vw;
    z-index: 10;
}

.Lightning {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.LightningCanvas {
    width: 50%;
    height: 50%;
    cursor: pointer;
}

.Card .CardLeft .CardLeftBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    margin-left: 0.5vw;
}

.Card .CardLeft .CardLeftBottom div {
    background-color: rebeccapurple;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    transform: translateY(.5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    color: white;
    transition: all 0.5s;
}

.Card .CardLeft .CardLeftBottom div:hover {
    background-color: black;
}

.Card .CardLeft .CardLeftBottom p {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 500;
    color: rebeccapurple;
}

.Card .CardLeft .CardLeftBottom p span:nth-child(1) {
    color: black;
    font-weight: 600;
    font-size: 5vw;
    transform: translateY(.5vw);
}

.Card .CardLeft .CardLeftBottom p span:nth-child(2) {
    color: #432264;
}

.Card .CardRight {
    height: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CardRightParas {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 13vw;
    gap: 2vw;
}

.CardRightParas p {
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    color: #333;
    display: flex;
    flex-direction: row;
}

.CardRightParas p span {
    font-weight: 400;
    color: rebeccapurple;
}

.CardRightParas p a {
    color: rebeccapurple;
    font-weight: 400;
    transition: all 0.5s;
    text-decoration: wavy;
}

.CardRightParas p a:hover {
    color: black;
}

.CardRightLogos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    font-size: 2vw;
    color: rebeccapurple;
    gap: 1vw;
}

.CardRightLogos svg {
    transition: all .5s;
}

.CardRightLogos svg:hover {
    color: black;
}

.CardRightLogos .CardRightToolBar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.CardRightLogos a {
    display: flex;
    align-items: center;
}

.CardRightLogos .CardRightToolBar .CardRightToolBarHidden {
    width: 0;
    transition: all 0.5s;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    align-items: center;
    font-size: 2vw;
}

.CardRightLogos .CardRightToolBar .CardRightToolBarHidden a {
    display: flex;
    align-items: center;
    padding-right: 0.7vw;
}

.CardRightLogos .CardRightToolBar:hover .CardRightToolBarHidden {
    width: 14vw;
}

.CardRightLogos .CardRightToolBar:hover .CardRightToolBarMain {
    color: #432264;
}