.Search {
    height: 3vw;
    border-radius: 1.5vw;
    border: 2px solid #777;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Search:hover {
    border: 2px solid #2b124d;
}

#search {
    margin-left: 2vw;
    border: none !important;
    width: 30vw;
    outline: none !important;
    border-radius: 1.5vw;
    font-family: "Poppins", serif;
    line-height: 1.5vw;
    font-size: 1.5vw;
    font-weight: 300;
    overflow: hidden;
}

.Search input::placeholder {
    opacity: 0.6;
    font-weight: 200;
}

.Searchbutton {
    margin-right: .2vw;
    padding: .3vw;
    width: 2vw !important;
    height: 2vw !important;
    border-radius: 50%;
    background-color: rebeccapurple !important;
    color: white;
    transition: background-color .5s;
}

.Searchbutton:hover {
    background-color: #2b124d !important;
}