.Registered {
    margin: 1vw 3vw;
    display: flex;
    flex-direction: column;
}

.Registered h1 {
    margin-top: 2.5vw;
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    font-weight: 400;
    color: rebeccapurple;
}

.Registered h2 {
    margin-top: 1.5vw;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    font-weight: 300;
    color: #333;
}

.Registered h2 span {
    font-size: 2.5vw;
    font-weight: 900;
    color: black;
}